{{#if r}}
    <h1><strong>Editing {{r.name}}'s Loaner Record </strong></h1>
{{else}}
    <h1><strong>Create a new Loaner Record</strong>:</h1>
{{/if}}
<a id="returnbtn" class="btn btn-outline-primary" href="/">Return without saving</a>
<ul id="createguide">
    <li>Please only create a new record AFTER having created a ServiceNow ticket.</li>
    <li>Note that every field is required</li>
</ul>
{{#if r}}
    <form action="/records/{{r._id}}/edit" id="create-form" method="post">
{{else}}
    <form action="/records/create" id="create-form" method="post">
{{/if}}
    <div class="row">
        <div class="col">
            <label for="ClientName">Client Name:</label>
            <input required type="text" class="form-control" id="ClientName" name="ClientName" value="{{r.name}}">
        </div>
        <div class="col">
            <label for="ClientEmail">Client Email:</label>
            <input required type="email" class="form-control" id="ClientEmail" name="ClientEmail" value="{{r.email}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="ClientID">Client Student ID:</label>
            <input required type="number" class="form-control" id="ClientID"
                   name="ClientID" value="{{r.studentID}}">
        </div>
        <div class="col">
            <label for="ClientPhone">Client Phone Number:</label>
            <input required type="number" class="form-control" id="ClientPhone"
                   name="ClientPhone" value="{{r.phone}}">
        </div>
        <div class="col">
            <label for="LoanerNum">Loaner Number:</label>
            <input required type="number" class="form-control" id="LoanerNum"
                   name="LoanerNum" value="{{r.loanerID}}">
        </div>
        <div class="col">
            <label for="TicketID">Incident Number:</label>
            <input required type="text" class="form-control" id="TicketID"
                   placeholder="Include INC" name="TicketID" value="{{r.ticketID}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="TicketSysID">Ticket System ID:</label>
            <input required type="text" class="form-control" id="TicketSysID"
                   name="TicketSysID"
                   value="{{r.ticketSysID}}">
            <ul>
                <li>Input the ticket's SysID from its URL making sure not to include anything else.
                    Here's an example (copy the bold part)
                </li>
                <li>https://wustl.service-now.com/incident.do?sys_id=<strong>71d01a7f1b40059062fdc9192a4bcb9a</strong>&(...)
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="OpenDate">Loaner Checkout Date (leave blank for today):</label>
            <input type="date" class="form-control" id="OpenDate" name="OpenDate" value="{{prefillFormat r.openDate}}">
        </div>
        <div class="col">
            <label for="NextContact">Next Followup Date:</label>
            <input required type="date" class="form-control" id="NextContact" name="NextContact" value="{{prefillFormat r.nextContactDate}}">

            <ul>
                <li>Type in the date for when we should next follow up with the client about proof of repair, their
                    repair status, etc
                </li>
                <li>This might be tomorrow, a week from now, or longer!</li>
            </ul>
        </div>
    </div>
{{#if r}}
    <div class="row">
        <div class="col">
            <label for="LoanerLock">Loaner Lock Status. Leave blank to keep the same:</label>
            <select name="LoanerLock" id="LoanerLock" class="form-select">
                <option value="true">Unlocked</option>
                <option value="false">Lock Loaner</option>
            </select>
        </div>
    </div>
{{/if}}
</form>
        <form action="/records/close/{{r._id}}" method="post" id="close-form"></form>
        <div class="button-box">
            <button type="button" class="btn btn-primary submit" id="create-form-submit">Save</button>
{{#if r}}
            <button type="button" class="btn btn-danger submit" id="close-form-submit">Close Record</button>
{{/if}}
        </div>


    <script>
        function checkValid(){
            let isValid = true;
            const inputs = document.querySelectorAll('input');
            inputs.forEach((input) => {
                if (input.value === "" && input.id != "OpenDate") {
                    isValid = false;
                }
            });
            return isValid
        }

        const createFormSubmit = document.getElementById("create-form-submit")
        if (createFormSubmit) {
            createFormSubmit.addEventListener("click", () => {
                if(checkValid()) {
                    document.getElementById("create-form").submit()
                } else {
                    alert("Make sure to fill out all parts of the form!")
                }
            })
        }


        const closeFormSubmit = document.getElementById("close-form-submit")
        if (closeFormSubmit) {
                closeFormSubmit.addEventListener("click", () => {
                if(checkValid()) {
                    document.getElementById("close-form").submit()
                } else {
                    alert("Make sure to fill out all parts of the form!")
                }
            })     
        }


    </script>