<div class="container">
    {{#if record}}
    <h1><strong>Editing {{record.name}}'s Loaner Record </strong></h1>
    {{else}}
    <h1><strong>Create a new Loaner Record</strong>:</h1>
    {{/if}}
    <a id="returnbtn" class="btn btn-outline-primary" href="/">Return without saving</a>
    <ul id="createguide">
        <li>Please only create a new record AFTER having created a ServiceNow ticket.</li>
        <li>Note that every field is required</li>
    </ul>
    {{#if record}}
    <form action="/records/{{record._id}}/edit" id="edit-form" method="post">
    {{else}}
    <form action="/records/create" id="create-form" method="post">
    {{/if}}
        <div class="row">
            <div class="col">
                <label for="ClientName">Client Name:</label>
                <input required type="text" class="form-control" id="ClientName" name="ClientName"
                    value="{{record.name}}">
            </div>
            <div class="col">
                <label for="ClientEmail">Client Email:</label>
                <input required type="email" class="form-control" id="ClientEmail" name="ClientEmail"
                    value="{{record.email}}">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="LoanerSelect">Loaner Number:</label>
                <select name="LoanerSelect" class="form-control">
                    {{#if record}}
                    <option value="{{record.loanerID}}" selected>{{record.loanerID}}</option>
                    {{/if}}
                    {{#each available}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
                <ul>
                    <li>Hint: Click the dropdown and type the loaner number! It should filter without you having to scroll.</li>
                </ul>
            </div>
            <div class="col">
                <label for="TicketID">Incident Number:</label>
                <input required type="text" class="form-control" id="TicketID" placeholder="Include &quot;INC&quot;"
                    name="TicketID" value="{{record.ticketINC}}">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="TicketSysID">Ticket Link:</label>
                {{#if record}}
                <input required type="text" class="form-control" id="TicketSysID" name="TicketSysID"
                    value="https://wustl.service-now.com/incident.do?sys_id={{record.ticketSysID}}">
                {{else}}
                <input required type="text" class="form-control" id="TicketSysID" name="TicketSysID">
                {{/if}}
                <ul>
                    <li>Give the full (long) link to the ServiceNow ticket for this loan.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="OpenDate">Loaner Checkout Date:</label>
                <input type="date" class="form-control" id="OpenDate" name="OpenDate"
                    value="{{checkoutFormat record.openDate}}">
            </div>
            <div class="col">
                <label for="NextContact">Next Followup Date:</label>
                <input required type="date" class="form-control" id="NextContact" name="NextContact"
                    value="{{followUpFormat record.nextContactDate}}">

                <ul>
                    <li>Type in the date for when we should next follow up with the client about proof of repair,
                        their
                        repair status, etc
                    </li>
                    <li>This might be tomorrow, a week from now, or longer!</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <label>
                <input type="checkbox" name="loanerForm">
                I have filled out the loaner form and attached it to the ticket.
            </label>

            <label>
                <input type="checkbox" name="proofOfRepair" {{record.proofOfRepair}}>
                I have attached proof of repair to the ticket, or described the exception being granted by a L2 or FTE.
            </label>

        </div>

        {{#if record}}
        <div class="row">
            <div class="col">
                <label for="LoanerLock">Loaner Lock Status. Leave blank to keep the same:</label>
                <select name="LoanerLock" id="LoanerLock" class="form-select">
                    <option value="true">Unlocked</option>
                    <option value="false">Lock Loaner</option>
                </select>
            </div>
        </div>
        {{/if}}
        <button type="submit" class="btn btn-primary submit" id="create-form-submit">Save</button>
    </form>
    {{#if record}}
    <form action="/records/close/{{record._id}}" method="post" id="close-form">
        <button type="submit" class="btn btn-danger submit" id="close-form-submit">Close Record</button>
    </form>
    {{/if}}
</div>
